@model PremierRosters.Models.MainModell

@{
    ViewData["Title"] = "Edit";
    int teamId = Model.playerInfo.Team;
}

<h1>Edit</h1>
<p>@ViewBag.error</p>
<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="playerInfo.FirstName" class="control-label"></label>
                <input asp-for="playerInfo.FirstName" class="form-control" />
                <span asp-validation-for="playerInfo.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="playerInfo.Surname" class="control-label"></label>
                <input asp-for="playerInfo.Surname" class="form-control" />
                <span asp-validation-for="playerInfo.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="playerInfo.Jersey" class="control-label"></label>
                <input asp-for="playerInfo.Jersey" class="form-control" />
                <span asp-validation-for="playerInfo.Jersey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="playerInfo.Position" class="control-label"></label>
                <input asp-for="playerInfo.Position" class="form-control" />
                <span asp-validation-for="playerInfo.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="playerInfo.BirthYear" class="control-label"></label>
                <input asp-for="playerInfo.BirthYear" class="form-control" />
                <span asp-validation-for="playerInfo.BirthYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="playerInfo.Team" class="control-label"></label>
                <select asp-for="playerInfo.Team" class="form-control">
                    @foreach (PremierRosters.Models.TeamInfo team in Model.teamInfo)
                    {
                        if (teamId == team.ID)
                        {
                            <option value="@team.ID" selected>@Html.DisplayFor(modelItem => team.Name) </option>
                        }
                        else
                        {
                            <option value="@team.ID">@Html.DisplayFor(modelItem => team.Name)</option>
                        }
                    }
                </select>
                <span asp-validation-for="playerInfo.Team" class="text-danger"></span>
            </div>
            <div class="form-group" style="visibility: hidden">
                <label asp-for="playerInfo.ID" class="control-label"></label>
                <input asp-for="playerInfo.ID" class="form-control" />
                <span asp-validation-for="playerInfo.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Players">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
