@model IEnumerable<PremierRosters.Models.PlayerInfo>

@{
    ViewData["Title"] = "Players";
}

<h1>Players</h1>

<p>
   @ViewBag.error
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                First name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamString)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new {  id=item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
