@model IEnumerable<PremierRosters.Models.SponsorInfo>

@{
    ViewData["Title"] = "Sponsors";
}

<h1>Sponsors</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Players
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{
                        var last = new KeyValuePair<string, int>();
                        bool player = false;
                        if (item.Players.FirstOrDefault().Key != null)
                        {
                            last = item.Players.Last();
                            player = true;
                        }


                        foreach (KeyValuePair<string, int> keyValue in item.Players)
                        {
                            int i = keyValue.Value;
                            if (keyValue.Equals(last))
                            {
                                <a asp-action="Details" asp-route-id="@i"> @keyValue.Key</a>

                            }
                            else
                            {
                                <a asp-action="Details" asp-route-id="@i"> @keyValue.Key</a> @Html.Raw(" | ");

                            }
                        }
                    }

                </td>
                <td>
                    @{
                        if (player && User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Delete", "DeleteSp", new { id = item.ID })
                        }
                    }

                </td>
            </tr>
        }

    </tbody>
</table>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="AddSponsor">Add sponsor to player</a>
    </p>
}
