@model IEnumerable<PremierRosters.Models.TeamInfo>

@{
    ViewData["Title"] = "Teams";
}

<h1>Teams</h1>

<p>
    @ViewBag.error
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Headcoach)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Headcoach)
            </td>


        </tr>
}
    </tbody>
</table>
